* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    font-family: var(--font-5);
}

/* html,
body {
    scroll-behavior: smooth;
    overflow: hidden;
}

body {
    padding: var(--section-gap);
    background: var(--colour-1); 
    color: var(--colour-3);
    
} */
body {
    font-size: 15px;
}

.container {
    /* background-image: url("./images/Plain_bg_1.png"
        ); */
    background-image: url("./images/Plain_bg_1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}


.patua-one-regular {
    font-family: "Patua One", serif;
    font-weight: 400;
    font-style: normal;
}


#logo-name {
    font-family: Georgia;
    font-variant: small-caps;
    font-weight: 600;
    margin-left: 45px;
    font-size: 30px;
}


.logo img {
    position: absolute;
    top: -10px;
    left: 120px;
    height: 50px;
    width: 70px;
}

.row {
    display: flex;
    gap: var(--section-gap);
    height: 100%;
    align-items: center;
    justify-content: center;
    margin-top: -50px;

}

.box {
    top: 20px;
    bottom: 20px;
    left: 27px;
    margin: auto;
    width: 65%;
    height: 70%;
    border: 3px solid rgb(238, 231, 231);
    overflow: auto;
    background: #CDC4C3;
    border-radius: 40px;
    scroll-behavior: auto;
}


/* .conversations {
    margin-top: 35px;
    max-width: 400px;
    height: 85%;
    padding: var(--section-gap);    
    overflow: auto;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    margin-bottom: 30px;
    background: #E0E0E0;
    border: 3px solid rgb(238, 231, 231);
    border-radius: 40px;
    margin-left: -1300px;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px #5b5b5b;
} */

/* .conversations::before {
    content: '';
    background: transparent;
    position: absolute;
    inset: 0;
    backdrop-filter: blur(10px);
    z-index: -1;
}  */


.conversation {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 45px;

}

#messages {
    top: 70px;
    width: 90%;
    height: 70%;
    display: flex;
    flex-direction: column;
    overflow: auto;
    overflow-wrap: break-word;
    padding-bottom: 50px;
    position: relative;
    background: #CDC4C3;
    border: 3px solid white;
    border-radius: 50px;
    box-shadow: 0 4px 6px #5b5b5b;
}

.conversation .user-input {
    background: transparent;
    max-height: 200px;
    padding: 150px 0 0 0;
}

.conversation .user-input input {
    font-size: 15px;
    width: 100%;
    height: 100%;
    padding: 12px 15px;
    border: none;
    outline: none;
    color: var(--colour-3);
    text-align: center;
    background: transparent;
}

.conversation .user-input input::placeholder {
    color: var(--user-input)
}

.message .user {
    margin-top: 50px;
    max-width: 7vh;
    max-height: 7vh;
    flex-shrink: 0;
    margin-left: 50px;
    gap: 16px;
}

.message .user img {
    width: 50px;
    height: 50px;
    margin-top: 10px;
    object-fit: cover;
    border-radius: 8px;
}


.navbar button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 100px;
    margin-top: 40px;
}

/* Adjust the styling of the icons on hover*/
label[for="toggle-switch"]:hover i {
    color: var(--colour-3);
}

.conversations {

    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 1200px;
}

.conversations .title {
    font-size: 14px;
    font-weight: 500;
}

.conversations .convo {
    padding: 8px 12px;
    display: flex;
    gap: 18px;
    align-items: center;
    user-select: none;
    justify-content: space-between;
}

.conversations .convo .left {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;

}

.conversations i {
    color: var(--conversations);
    cursor: pointer;


}

.convo-title {
    color: var(--colour-3);
    font-size: 14px;
}

.message {
    width: 100%;
    overflow-wrap: break-word;
    display: flex;
    gap: var(--section-gap);
    padding: var(--section-gap);
    padding-bottom: 0;
}

.message:last-child {
    animation: 0.6s show_message;
}

@keyframes show_message {
    from {
        transform: translateY(10px);
        opacity: 0;
    }
}


.message .user:after {
    content: "63";
    position: absolute;
    bottom: 0;
    right: 0;
    height: 60%;
    width: 60%;
    background: var(--colour-3);
    filter: blur(10px) opacity(0.5);
    z-index: 10000;

}

.message .content {
    margin-top: 60px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    gap: 18px;
    overflow-wrap: break-word;
    font-size: 30px;
}


.message .content p,
.message .content li,
.message .content code {
    font-size: 20px;
    line-height: 1.3;
}

.message .user i {
    position: absolute;
    margin-top: 60px;
    bottom: -6px;
    right: -6px;
    z-index: 1000;
}

.new_convo {
    height: 40px;
    width: 330px;
    padding: 6px 10px;
    display: flex;
    gap: 6px;
    align-items: center;
    cursor: pointer;
    user-select: none;
    background: #CDC4C3;
    border: 1px dashed var(--conversations);
    border-radius: var(--border-radius-1);
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4), 0 4px 8px rgba(0, 0, 0, 0.4); */
}

span {
    color: var(--colour-3);
    font-size: 15px;
}

.new_convo:hover {
    border-style: solid;
}

.stop_generating {
    position: absolute;
    bottom: 140px;
    /* left: 10px;
    bottom: 125px;
    right: 8px; */
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000000;
}

.stop_generating button {
    height: 60px;
    width: 110px;
    background-color: white;
    border-radius: var(--border-radius-1);
    padding: 10px 15px;
    color: var(--colour-3);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    animation: show_popup 0.4s;
}

@keyframes show_popup {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
}

@keyframes hide_popup {
    to {
        opacity: 0;
        transform: translateY(10px);
    }
}

.stop_generating-hiding button {
    animation: hide_popup s;
}

.stop_generating-hidden button {
    display: none;
}

.typing {
    position: absolute;
    top: -25px;
    left: 0;
    font-size: 14px;
    animation: show_popup 0.4s;
}

.typing-hiding {
    animation: hide_popup 0.4s;
}

.typing-hidden {
    display: none;
}

input[type="checkbox"] {
    height: 0;
    width: 0;
    display: none;
}

input:checked+label {
    background: var(--blur-border);
}

input:checked+label:after {
    left: calc(100% - 5px - 20px);
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100%;
}

.field {
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 1px;
    padding-right: 15px
}

.field .about {
    font-size: 14px;
    color: var(--colour-3);
}


select {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    /* -webkit-backdrop-filter: blur(20px); */
    /* backdrop-filter: blur(20px); */
    cursor: pointer;
    background-color: var(--blur-bg);
    border: 1px solid var(--blur-border);
    color: var(--colour-3);
    display: block;
    position: relative;
    overflow: hidden;
    outline: none;
    padding: 8px 16px;
    appearance: none;
}

.input-box {
    width: 65vw;
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 100px;
    margin-left: 20vw;
    border-radius: 80px;
    background: #E0E0E0;
    margin-bottom: 30px;
    box-shadow: 0 2px 4px rgba(33, 35, 36, 0.4), 0 4px 8px rgba(21, 23, 24, 0.4);
}

.info {
    padding: 8px 12px;
    display: flex;
    gap: 18px;
    align-items: center;
    user-select: none;
    background: transparent;
    border-radius: var(--border-radius-1);
    width: 100%;
    cursor: default;
    border: 1px dashed var(--conversations)
}

.bottom_buttons {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.bottom_buttons button {
    padding: 8px 12px;
    display: flex;
    gap: 18px;
    align-items: center;
    cursor: pointer;
    user-select: none;
    background: transparent;
    border: 1px solid #4285f4;
    border-radius: var(--border-radius-1);
    width: 100%;
}

.bottom_buttons button span {
    color: var(--colour-3);
    font-size: 14px;
}

.conversations .top {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#cursor {
    line-height: 17px;
    margin-left: 3px;
    -webkit-animation: blink 0.8s infinite;
    animation: blink 0.8s infinite;
    width: 7px;
    height: 15px;
}

@keyframes blink {
    0% {
        background: #ffffff00;
    }

    50% {
        background: white;
    }

    100% {
        background: #ffffff00;
    }
}

@-webkit-keyframes blink {
    0% {
        background: #ffffff00;
    }

    50% {
        background: white;
    }

    100% {
        background: #ffffff00;
    }
}

.grecaptcha-badge {
    visibility: hidden;
}


a:-webkit-any-link {
    color: rgb(23, 17, 17);
}

textarea {

    width: 1200px;
    font-size: 15px;
    padding: 16px 30px;
    background: white;
    border-radius: 40px;
    outline: none;
    color: var(--colour-3);
    margin-left: 30px;
    margin-bottom: 30px;
}

#message-input{
    width: 1500px;
    height: 60px; 
    margin-top: 30px; 
    font-size: 25px;
    overflow:hidden;
}

.color-picker input[type="checkbox"]:checked {
    background-color: var(--radio-color);
}

.fas {
    cursor: pointer;
    font-size: 24px;
}

.img {
    margin-right: 20px;
    width: 200px;
}

.conversations.hidden {
    display: none;
}

.side-pane {
    position: fixed;
    top: 65px;
    right: 10px;
    width: 290px;
    height: auto;
    background-color: rgb(43, 41, 41);
    transition: all 0.3s ease-in-out;
    z-index: 100;
    border: 1px solid #a6e4fa;
    border-radius: 20px;
}

.side-pane.open {
    right: 0;
}

.side-pane ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.side-pane li a {
    display: block;
    padding: 20px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.hidden {
    display: none;
}

.toggle-theme a {
    text-decoration: none;
    display: flex;
    align-items: center;
}


.toggle-theme label {
    margin-right: 10px;
}

#main-menu {
    background-color: #CDC4C3;
    padding: 15px;
    border-radius: 10px;
}

.menu-item i {
    margin-right: 10px;
}

.menu-item {
    list-style-type: none;
    margin-bottom: 10px;
}

#menu-button {
    margin-left: 5%;
    margin-top: 20px;
}

.menu-button {
    border: none;
    border-radius: 5px;
    padding: 40px 50px;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: #151313;
    background-color: transparent;
    font-size: 16px;
    font-weight: bold;
    margin-left: 32px;
    margin: 1px;
}


.MC-GPT-LOGO {
    margin-top: 11px;
}

h3 {
    margin-left: 10px;
    color: black;
}


.content {
    padding: 10px;
    /* border: 1px solid #ffffff; */
    /* background-color: white; */
    /* border-radius: 10px; */
    /* box-shadow: 0 4px 4px #CBDDFF; */
    font-size: 25px;
}

h1,
h2,
h4,
h5,
h6 {
    font-size: 2em;
}

p,
.conversations .title,
.convo-title,
.new_convo span,
.bottom_buttons button span {
    font-size: 23px;
}

.navbar button,
.conversations .convo .left,
.conversations .convo i,
.message {
    font-size: 10px;
}

.message .content p,
.message .content li,
.message .content code,
.user-input textarea {
    font-size: 30px;
}

#send-button {
    background-color: black;
    color: #fff;
    height: 70px;
    width: 130px;
    border-radius: 40px;
    margin-right: 50px;
    font-size: 25px;
}

.setting {
    font-size: 25px;
    margin-left: 20px;
}

.icon-name {
    font-size: 20px;
    text-align: center;
}

.Sign-up {
    background-color: black;
    color: #fff;
    height: 50px;
    width: 110px;
    border-radius: 40px;
    margin-left: 1300px;
    font-size: 25px;
}

.user {
    text-align: center;
    position: relative;
    /* Add relative positioning */
}

.user-img {
    margin-top: 10px;
    height: 45px;
    width: 45px;
    display: block;
    margin-left: 1400px;
}

.user-name {
    display: block;
    margin-top: 5px;
    font-size: 20px;
    font-weight: 600;
    margin-left: 1380px;
}

.side-pane2 {
    position: absolute;
    width: 310px;
    height: 218px;
    top: 100%;
    left: 95%;
    transform: translateX(-50%);
    background: #E0E0E0;
    border: 2px solid white;
    border-radius: 50px;
    padding: 20px;
    z-index: 999;
    display: flex;
}

#Sign-In-btn {
    margin-top: 80px;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    height: 50px;
    width: 120px;
    background-color: #647BA5;
    color: #fff;
    border-radius: 30px;
}

#Log-out-btn {
    margin-top: 80px;
    margin-left: 10px;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    height: 50px;
    width: 120px;
    background-color: #647BA5;
    color: #fff;
    border-radius: 30px;
}


/* .User{
    height: 50px;
    width: 50px;
    margin-left: 40px;
    margin-top: 50px;
}

.AI{
    height: 70px;
    width: 70px;
    margin-left: 30px;
    margin-top: 40px;

} */

@media only screen and (max-width: 800px) {
    .container {
        width: 90%;
        height: 90%; 
    }

    .input-box{
        margin-left: 0;
        width: 90%;
        height: 90%;
    }



}